<template>
  <button :class="classList">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    primary: Boolean,
  },
  computed: {
    classList() {
      let classes = 'button '
      this.primary ? classes += `button--primary ` : ''
      return classes
    }
  },
}
</script>

<style scoped lang="scss">
.button {
  padding: 8px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
</style>