<template>
  <div class="card" :style="styleList">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    height: Number,
    width: Number,
  },
  computed: {
    styleList() {
      let style = ''
      this.height ? style += `height: ${this.height}px; ` : ''
      this.width ? style += `width: ${this.width}px; ` : ''
      return style
    }
  },
}
</script>

<style scoped lang="scss">
.card {
  min-height: 300px;
  min-width: 250px;
}
</style>