<template>
  <div class="container" :style="styleList">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    padding: Number,
    margin: Number,
  },
  computed: {
    styleList() {
      let style = ''
      this.padding ? style += `padding: ${this.padding}px; ` : ''
      this.margin ? style += `margin: ${this.margin}px; ` : ''
      return style
    }
  },
}
</script>

<style scoped lang="scss">
.container {
  padding: 16px;
  margin: 0;
}
</style>