<template>
<label class="switch">
  <input type="checkbox" v-model="stateStatus" @change="updateState" />
  <span class="switch__slider" />
</label>
</template>

<script>
export default {
  props: {
    state: Boolean,
  },
  data: () => {
    return {
      stateStatus: null
    }
  },
  mounted() {
    this.stateStatus = this.state
  },
  methods: {
    updateState() {
      this.$emit('changed', this.stateStatus)
    }
  },
}
</script>

<style scoped lang="scss">
.switch {
  display: inline-block;
  position: relative;
  height: 28px;
  width: 54px;
  margin: 8px;
  input {
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + .switch__slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }
  .switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: '';
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 3px;
      border-radius: 50%;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}
</style>