<template>
  <main class="main">
    <rz-card :height="400" :width="350">
      <rz-container style="text-align: center;">
        <img class="image" style="max-width: 200px;" src="@/assets/vue.png" alt="vue">
      </rz-container>
      <rz-container style="padding: 0 24px;">
        <h1>VUE</h1>
      </rz-container>
      <rz-container style="text-align: center">
        <rz-button primary @click="router.push('/scss')">
          More
        </rz-button>
      </rz-container>
    </rz-card>
    <rz-card :height="400" :width="350">
      <rz-container style="text-align: center;">
        <img class="image" style="max-width: 200px;" src="@/assets/scss.png" alt="vue">
      </rz-container>
      <rz-container style="padding: 0 24px;">
        <h1>SCSS</h1>
      </rz-container>
      <rz-container style="text-align: center">
        <rz-button primary @click="router.push('/scss')">
          More
        </rz-button>
      </rz-container>
    </rz-card>
  </main>
</template>

<script>
import Button from '@/components/element/Button.vue'
import Card from '@/components/element/Card.vue'
import Container from '@/components/element/Container.vue'
export default {
  name: 'Home',
  components: {
    'rz-button': Button,
    'rz-card': Card,
    'rz-container': Container,
  },
  data: () => {
    return {}
  },
}
</script>

<style lang="scss">
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  overflow-y: auto;
}
.image {
  height: auto;
  width: 100%;
}
</style>
