@import './variable.scss';

@mixin dark-bg {
  background-color: $bg-dark;
  color: $txt-dark;
}
@mixin light-bg {
  background-color: $bg-light;
  color: $txt-light;
}
@function shadow($color) {
  $shadow: rgba($color, 0.5);
  @return $shadow;
}

body {
  transition: 0.2s;
  &.theme--dark {
    @include dark-bg();
    .navbar {
      background-color: $bg-dark-2;
      border-bottom: 1px solid $primary-dark;
      a {
        color: $txt-dark;
      }
      .navbar__item {
        &.link--active {
          border-bottom: 2px solid $primary-dark;
        }
      }
    }
    .main {
      background-color: $bg-dark-2;
    }
    .button {
      background-color: $bg-dark;
      border: 1px solid $bg-dark;
      color: $txt-dark;
      &:hover, &:focus {
        background-color: lighten($bg-dark, 10);
        border: 1px solid lighten($bg-dark, 10);
      }
      &--primary {
        background-color: $primary-dark;
        border: 1px solid $primary-dark;
        color: white;
        &:hover, &:focus {
          background-color: lighten($primary-dark, 10);
          border: 1px solid lighten($primary-dark, 10);
        }
      }
    }
    .switch {
      .switch__slider {
        background-color: black;
        border: 1px solid $primary-dark;
        &:before {
          background-color: $primary-dark;
        }
      }
      input:checked + .switch__slider {
        background-color: $primary-dark;
        &:before {
          background-color: $bg-dark-2;
        }
      }
    }
    .card {
      background-color: black;
      border: 1px solid $primary-dark;
    }
  }
  &.theme--light {
    @include light-bg();
    .navbar {
      background-color: white;
      border-bottom: 1px solid $primary-light;
      a {
        color: $txt-light;
      }
      .navbar__item {
        &.link--active {
          border-bottom: 2px solid $primary-light;
        }
      }
    }
    .main {
      background-color: $bg-light-2;
    }
    .button {
      background-color: $bg-light;
      border: 1px solid $bg-light;
      color: $txt-light;
      &:hover, &:focus {
        background-color: darken($bg-light, 10);
        border: 1px solid darken($bg-light, 10);
      }
      &--primary {
        background-color: $primary-light;
        border: 1px solid $primary-light;
        color: white;
        &:hover, &:focus {
          background-color: darken($primary-light, 10);
          border: 1px solid darken($primary-light, 10);
        }
      }
    }
    .switch {
      .switch__slider {
        background-color: $bg-light;
        border: 1px solid $primary-light;
        &:before {
          background-color: $primary-light;
        }
      }
      input:checked + .switch__slider {
        background-color: $primary-light;
        &:before {
          background-color: white;
        }
      }
    }
    .card {
      background-color: white;
      border: 1px solid $primary-light;
    }
  }
}