@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// DARK
$bg-dark: #101010;
$bg-dark-2: #212121;
$txt-dark: #EFEFEF;
$primary-dark: #2980B9;

//LIGHT
$bg-light: #EFEFEF;
$bg-light-2: #F5F5F5;
$txt-light: #101010;
$primary-light: #2196F3;