<template>
  <div id="app">
    <nav class="navbar">
      <ul>
        <router-link class="navbar__item" tag="li" to="/" exact exact-active-class="link--active">Home</router-link>
        <router-link class="navbar__item" tag="li" to="/vue" exact exact-active-class="link--active">Vue</router-link>
        <router-link class="navbar__item" tag="li" to="/scss" exact exact-active-class="link--active">Scss</router-link>
        <li class="navbar__item spacer"></li>
        <li class="navbar__item"><rz-switch :state="dark" @changed="updateModel" /></li>
      </ul>
    </nav>
    <main class="content">
      <router-view />
    </main>
    <footer class="footer">
      UwU
    </footer>
  </div>
</template>

<script>
import Switch from '@/components/element/Switch.vue'
export default {
  components: {
    'rz-switch': Switch,
  },
  data: () => {
    return {}
  },
  computed: {
    dark() {
      return this.$store.state.dark
    },
  },
  watch: {},
  mounted() {
    let body = document.querySelector('body')
    if (this.dark) {
      body.classList.add('theme--dark')
    } else {
      body.classList.add('theme--light')
    }
  },
  methods: {
    updateModel() {
      this.$store.dispatch('toggleDark')
    },
  },
}
</script>

<style lang="scss">
body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto';
}
button {
  font-family: 'Montserrat', 'Roboto';
}
a {
  text-decoration: none;
}
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  min-height: 40px;
  &__item {
    @at-root ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &.spacer {
      margin-left: auto;
      margin-right: auto;
    }
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding: 4px 8px;
    margin: 0 4px;
  }
}
.content {
  height: calc(100vh - 153px);
  width: calc(100vw - 64px);
  padding: 32px;
}
.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  min-height: 50px;
}
</style>
